<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhzj.mapper.JobMapper">
    <insert id="insert" parameterType="com.yhzj.entity.Job">
        insert into t_job
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="name != null and '' != name">
                `name`,
            </if>
            <if test="department != null and 0 != department">
                `department`,
            </if>
            <if test="planCount != null">
                `plan_count`,
            </if>
            <if test="workingCount != null">
                `working_count`,
            </if>
            <if test="qualification != null and 0 != qualification">
                `qualification`,
            </if>
            <if test="remark != null and 0 != remark">
                `remark`,
            </if>

            <if test="createAt != null and '' != createAt">
                `create_at`,
            </if>
            <if test="updateAt != null and '' != updateAt">
                `update_at`,
            </if>
            <if test="version != null and '' != version">
                `version`,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="name != null and '' != name">
                #{name},
            </if>
            <if test="department != null and 0 != department">
                #{department},
            </if>
            <if test="planCount != null">
                #{planCount},
            </if>
            <if test="workingCount != null">
                #{workingCount},
            </if>
            <if test="qualification != null and 0 != qualification">
                #{qualification},
            </if>
            <if test="remark != null and 0 != remark">
                #{remark},
            </if>

            <if test="createAt != null and '' != createAt">
                #{createAt},
            </if>
            <if test="updateAt != null and '' != updateAt">
                #{updateAt},
            </if>
            <if test="version != null and '' != version">
                #{version},
            </if>
        </trim>
    </insert>
</mapper>