<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhzj.mapper.UserMapper">
    <resultMap id="findAll" type="user" autoMapping="true">
        <id property="id" column="id"></id>
        <association property="account" autoMapping="true" javaType="account" columnPrefix="account_">
            <id property="id" column="id"/>
            <association property="role" autoMapping="true" javaType="role" columnPrefix="role_">
                <id property="id" column="id"/>
            </association>
        </association>
    </resultMap>
    <!--查询所有用户-->
    <select id="findAll" resultMap="findAll">
        select t1.`id`,t1.`name`,t1.`sex`,t1.`bron`,t1.`address`,t1.`phone`,t2.`id` account_id,t2.`name` account_name,t2.`state` account_state,t2.`password` account_password,t3.`id` `account_role_id`,t3.`name` `account_role_name`
        from t_user t1
        left join t_account t2 on t1.account_id=t2.id
        left join t_role t3 on t3.id =t2.role_id
        order by t1.id
    </select>
</mapper>