.bonuses{
    margin:20px 40px 0 30px;
}
.bs_tou{
    height:100px;
    border-bottom: 1px solid #ccc;
}
.bs_tou>.bs_zhushi{
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #aaa;
}
.bs_tou>.bs_zhushi>span{
    color: #eb7350;
}
.bs_tou>.bs_save{
    float: right;
    display: block;
    width:100px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #e55981;
    border-radius: 8px;
}
.bs_shuju>.bs_jilu{
    height:100px;
    border-bottom: 1px solid #ccc;
}
.bs_shuju>.bs_jilu>h3{
    float: left;
    width:200px;
    font-size: 20px;
    text-align: left;
    height:100px;
    line-height: 100px;
    font-weight: bold;
    color: #333;
    padding-left: 15px;
}
.bs_shuju>.bs_jilu>.div{
    width:250px;
    text-align: right;
    float: left;
}
.bs_shuju>.bs_jilu>.div>.p1{
    font-size: 15px;
    text-align: right;
    color: #999;
    margin-top:30px;
}
.bs_shuju>.bs_jilu>.div>.p2{
    font-size:15px;
    text-align: right;
    color: #444;
    font-weight: bold;
}
.bs_shuju>.bs_jilu>.aa{
    width:280px;
    height:100px;
    margin-right:30px;
    float: right;
    text-align: right;
}
.bs_shuju>.bs_jilu>.aa>.a1{
    float: right;
    display: block;
    margin:40px 10px 0 0;
    color: #e55981;
}
.bs_wujilu{
    display: none;
    margin:150px auto;
    width:300px;
    height:120px;
    text-align: center;
}
.bs_wujilu>p{
    color: #aaa;
}

