@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
    font-size: 12px;
    color:#666;
}
ul,
ol,
dl,
li{
    list-style: none;
    display: inline-block;
}
header{
    width: 100%;
    height: 9%;
    background-color: #e56281;
}
.header-left{
    float: left;
    width: 30%;
    height: 100%;
}
.header-left h2{
    color: white;
    width: 30%;
    height: 90%;
    line-height: 200%;
    border-right: 1px solid white;
    float: left;
    text-align: center;
    margin: 1% 2%;
    font-weight: 700;
}
.header-left ul{
    float: left;
    width: 60%;
    height: 100%;
}
.header-left ul li:first-of-type{
    font-size: 16px;
    height: 55%;
    line-height: 250%;
    font-weight: bold;
}
.header-left ul li:last-of-type{
    font-size: 12px;
    height: 30%;
    line-height: 200%;
}
.header-left ul li{
    float: left;
    width: 100%;
    text-align: left;
    color: white;
}
/*******************************************************自定义整体头部样式******/
.hr-header{
    width: 100%;
    height: 60px;
    background-color: #e56281;
    position: fixed;
    left: 0;
    top: 0;
}
.hr-header>h3{
    width: 10%;
    height: 60px;
    line-height: 60px;
    color: white;
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    font-family: 华文琥珀;
    float: left;
}
.hr-header>input{
    float: right;
    width: 300px;
    height: 32px;
    line-height: 32px;
    margin-top: 12px;
    border: 1px solid #ae4f5d;
    border-radius: 15px;
    padding-left: 8px;
    background-color: #ae4f5d;
    opacity: 0.6;
}
.hr-header>input::placeholder{
    color: white;
}
.hr-header>input:focus{
    opacity: 1;
    background-color: #f9f9f9;
}
.hr-header>a{
    width: 80px;
    height: 100%;
    line-height: 400%;
    float: right;
    margin-right: 20px;
    margin-left: 30px;
    font-size: 13px;
    color: white;
}
.hr-header>a:hover{
    color: #d0d2c4;
}
.hr-header>span{
    position: absolute;
    top: 20px;
    right: 150px;
    color: #e0e2d4;
    z-index: 10;
}
/*********************************************************自定义整体左侧样式********************/
.hr-left-side{
    width: 200px;
    height: 92%;
    background-color: #f9f8f7;
    position: fixed;
    left: 0;
    top: 60px;
}
.hr-left-side>a{
    display: inline-block;
    width: 100%;
    height: 100px;
    margin: 30px 0;
    color: #666666;
}
.hr-left-side>a:hover{
    color: #e55981;
    text-decoration:none;
}
.hr-left-side>a>img{
    width: 60px;
    height:60px;
    margin-left: 70px;
    border-radius: 30px;
}
.hr-left-side>a>p{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
.hr-left-side>ul{
    width: 100%;
}
.hr-left-side>ul>li{
    width: 100%;
    height: 35px;
}
.hr-left-side>ul>li>a{
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    color: #666666;
    padding-left: 30px;
    font-size: 13px;
    text-decoration:none;
}
.hr-left-side>ul>li>a:hover{
    color: #e55981;
}
.hr-left-side>ul>li>a>span{
    margin-right: 15px;
}
.hr-left-side>ul>li>a:hover{
    background-color: #F2F2F2;
    border-left: 3px solid #e56281;
}
/**********************************************************body主要内容***********/
.hr-body{
    width: 86%;
    position: fixed;
    right: 0;
    top: 60px;
}
/***********************************************************************/
.body-title1{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
}
.body-title1 ul{
    width: 100%;
    height: 100%;
    padding-left: 15%;
}
.body-title1 ul li{
    float: left;
    width: 12%;
    height: 100%;
}
.body-title1 ul li a{
    display: inline-block;
    height: 100%;
    line-height: 400%;
    margin: 0 15px;
    font-size: 14px;
    font-weight: normal;
    color: #4d4d4d;
}
.body-title1 ul li a:hover{
    color: #e56281;
    border-bottom: 2px solid #e56281;
}
.body-title2{
    width: 100%;
    height: 40px;
}
.body-title2 ul{
    width: 100%;
    height: 100%;
    padding-left: 2%;
}
.body-title2 ul li{
    float: left;
    width: 9%;
    height: 100%;
}
.body-title2 ul li a{
    display: inline-block;
    height: 100%;
    line-height: 300%;
    margin: 0 15px;
    font-size: 13px;
    font-weight: normal;
    color: #4d4d4d;
}
.body-title2 ul li a:hover{
    color: #e56281;
}

.body-title2-bottom{
    width: 100%;
    height: 15px;
    background: url("/img/hr-example2.png") repeat;
}

.body-detail{
    width: 100%;
    padding: 0 40px;
    margin-top: 5px;
}
.body-detail .no-data{
    width: 100%;
}
.body-detail .no-data img{
    margin-top: 100px;
    margin-left: 40%;
}
.body-detail .no-data p{
    font-size: 12px;
    color: #838383;
    margin-left: 40%;
    width: 20%;
    text-align: center;
}