.payroll{
    margin:30px 40px 0 60px;
}
.payroll_tou{
    height:50px;
}
.payroll_tou>.pll_upload{
    display: block;
    width:80px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #e55981;
    color: #fff;
    float: right;
}
.payroll>.pll_yue{
    margin-right:15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    height:30px;
    line-height: 30px;
    float: left;
}
.pll_huizong{
    margin:50px 0 30px 0;
    height: 60px;
    border-radius: 8px;
    border:1px solid #ccc;
    padding:20px 0;
}
.pll_heji {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width:100px;
    height:60px;
    line-height: 60px;
    color: #333;
    border-right: 1px solid #ccc;
}
.pll_mixi{
    width:200px;
    float: left;
}
.pll_mixi>.p1{
    text-align: right;
    margin-top:10px;
    font-size: 14px;
    color: #777;
}
.pll_mixi>.p1>span{
    color: #333;
    font-weight: bold;
}
.pll_biaotou{
    height: 30px;
}
.pll_shijian{
    float:left;
}
.pll_shijian>p{
    text-align: center;
    height: 24px;
    line-height: 25px;
    float: left;
    color: #e55981;
    width:100px;
    border-radius: 8px 8px 0 0;
    border-width: 1px;
    border-color: #e55981 #e55981 transparent #e55981;
    border-style: solid;
}
.pll_biaotou>.pll_xian{
    float: right;
    width:474px;
    height:25px;
    border-bottom: 1px solid #ccc;
}
.pll_biaotou>.pll_kong{
    width:473px;
    float: left;
    height:25px;
    border-bottom: 1px solid #ccc;
}
.pll_biaotou>.pll_kong>a{
    cursor: pointer;
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    color: #666;
    float: left;
    margin:0  15px;
}
.pll_biaotou>.pll_kong>a:hover{
    color: #e55981;
}
.pll_biaotou>.pll_xian>a{
    cursor: pointer;
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    color: #666;
    float: left;
    margin:0  15px;
}
.pll_biaotou>.pll_xian>.a2{
    float: right;
}
.pll_biaotou>.pll_xian>a:hover{
    color: #e55981;
}
.pll_biaodan{
    padding-top:30px;
}
